.login-container {
    display: flex;
    min-height: 100vh;
    background-color: #121212;
    color: #fff;
}



.form-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-box {
    max-width: 400px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.login-box h1 {
    color: #ffffff;
    margin-bottom: 20px;
    font-family: "Sankofa Display", sans-serif;
    font-weight: 500;
    padding: 1rem;
    font-size: 50px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #333;
    color: #fff;
    margin-bottom: 15px;
}
.form-control::placeholder {
    color: #ccc;
}


/* When the input is focused */
.form-control:focus {
    background-color: #2a2a2a;
    border-color: #ffb701;
    border-width: 2px; /* Added border width */
    outline: none;
    color: #fff;
}



.btn {
    background-color: #ffb701;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e09a00;
}

a {
    color: #ffb701;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

