
    <h2>Media Hub</h2>

    <!-- Gallery Grid -->
    <div class="gallery-grid">
        {% for media in media_list %}
        <div class="gallery-item">
            <img src="{{ media.image.url }}" alt="{{ media.description }}" class="gallery-img">
            <p>{{ media.description }}</p>
        </div>
        {% endfor %}
    </div>

    <!-- Lightbox -->
    <div id="lightbox" class="lightbox">
        <span class="lightbox-close">&times;</span>
        <span class="lightbox-prev">&#xf053;</span>
        <img class="lightbox-img" src="" alt="Full size image">
        <span class="lightbox-next">&#xf054;</span>

